<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <form method="post" action="formsub" enctype="multipart/form-data">
      <input type="text" placeholder="filename" />
      <input type="file" placeholder="filename" />
    </form>
  </body>
</html>
